body {
    padding: 5%;
}

/* Number of players ---------------------------------------- */

.section-num-of-players {
    margin: 10px;
}

.section-num-of-players .btn-players {
    font-size: xx-large;
    padding-left: 1em;
    padding-right: 1em;
}

.section-num-of-players h1 {
    display: inline;
}

.section-num-of-players .text-num-of-players {
    font-size: 6em;
    display: inline;
    vertical-align: middle;
}

/* ---------------------------------------------------------- */